#main {
    width: 100%;
    margin: 1.5rem 0;
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
}

.upperContainer {
    display: flex;
    height: 89rem;
}

.trade__info {
    flex: 0 0 25%;
    height: 100%;
}

.bottomContainer {
    height: 41rem;
    display: flex;
}
